/* page flex direct column */
body {
  font-family: "Poppins";
}
.about {
  display: flex;
  flex-direction: column;

}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: red; */
  /* margin: auto; */
  /* padding: auto; */
  align-items: center;
}
/* top segment row in desktop */
.top {
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  background-repeat: no-repeat;
  background-position-x: 75%;
  
  background-size: contain;
  justify-content: space-between;
}


/* center the heading */
.heading {
  text-align: center;
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 50px;
  /* margin-top: 0; */
  /* background-size: contain; */
}

/* images segment row in desktop */
.imagesY {
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.buttonA {
  border: 1px solid #516eff;
  border-radius: 8px;
  background-color: #516eff;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  justify-content: center;
  padding: 16px 28px;
  cursor: pointer;
}

.center_text {
  text-align: center;
  color: #777777
}

/* .Seemore:hover {
  background-color: rgb(251, 242, 139);
  color: black;
  border: #fedc2a solid 2px;
  scale: 1.05;
  font-size: 19px;
} */

.Seemoree:hover {
  /* color: black; */
  /* background-color: rgb(251, 242, 139); */
  border: white solid 2px;
  scale: 1.05;
} 

.Seemore {
  border: 1px solid #516eff;
  border-radius: 8px;
  background-color: #516eff;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  justify-content: center;
  padding: 16px 28px;
  cursor: pointer;
}

.PY {
  /* position: absolute; */
  width: 450px; 
  /* height: 121px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  /* padding-top: 8px; */
  padding-left: 8%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #777777;
}

.H1YY {
  /* padding-left: 8%; */
  font-size: 56px;
  /* display: flex; */
  flex-direction: row;
  /* text-align: center; */
  
}

.sida {
  /* position: absolute; */
  padding-top: 26%;
  margin-left: 25%;
  margin-top: 28%;
}

.DentistryY {
  color: #fedc2a;
}

.pBY {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
}

.DoctorY {
  color: #fedc2a;
}


/* tablets and smaller */
@media only screen and (max-width: 1024px) {
  /* put top in column in smaller screens, and less padding */
  .top {
    flex-direction: column;
    padding: 50px 20px;
    background-size: cover;
    background-position-x: 5px;
    background-position-y: 5px;
    display: flex;
    justify-content: space-between;
  }
.H1YY {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self: ; */
}
 
  .DoctorY {
    color: #fedc2a;
  }

  .DentistryY {
    color: #fedc2a;
  }


  /* put images in column in smaller screens */
  .imagesY {
    flex-direction: column;
    align-items: center;
  }

  /* Add some spacec between the dr cards */
  .doctor-card {
    margin: 50px 0;
  }
  .primary-button {
    border: 1px solid #516eff;
    border-radius: 8px;
    background-color: #516eff;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    justify-content: center;
    padding: 16px 28px;
    cursor: pointer;
}
  .buttonA {
    display: flex;
    background-image: white;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    padding: 16px 28px;
    border: solid 1px;
    cursor: pointer;
    margin: auto;
    white-space: nowrap;
    font-family: "Poppins";
  }
  .Seemore{
    margin-top: inherit;
    margin-bottom: 40px;
    color: black;
    ;
    
  }
  .Seemore:hover {
    background-color: white;
    /* color: black; */
    /* border: #fedc2a solid 2px; */
    scale: 1.05;
    font-size: 19px;
    border: 1px solid #516eff;

  }
  .Seemoree:hover {
    color: #516eff;
    background-color: white;
    /* border: #fedc2a solid 2px; */
    scale: 1.05;
    border: 1px solid #516eff;
  }


  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .imgRy{
    width:100%;
  }
}
