@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.contactuspng {
  width: 1000px;
  height: 550px;
  margin: 1rem 0 0 580px;
  -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
  -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
  box-shadow: 10px 10px 5px rgb(155, 147, 147);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  perspective: 25px;
}

input {
  background: rgb(206, 205, 205);
  border: 1px solid #9c9c9c;
  text-align: left;
  border-radius: 20px;
  height: 20px;
  padding: 0.7em;
  margin-bottom: 0.5rem;
  width: 400px;
}
label {
  color: white;
}
.wtspbttn button {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 8px;
  box-sizing: border-box;
  color: #eeeeee;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  margin: -5rem 0 0 240px;
  width: 150px;
  height: 40px;
}
.wtspbttn button:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}
input:focus {
  outline: 2px solid gold;
}
input:invalid {
  background-color: rgb(204, 204, 202);
}

.messagewtsp {
  width: 250px;
  height: 300px;
}
.wtsinmput {
  width: 400px;
  height: 200px;
  text-align: left;
  vertical-align: bottom;
}
.middlectc {
  text-align: center;
}
.rightnav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 400px;
  margin: 200px 50px;
  margin-top: -150px;
}
@media (max-width: 768px) {
  .rightnav {
    flex-direction: column;
  }
}
.rightnav .callus,
.rightnav .chatus,
.rightnav .visitus {
  -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
  -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
  box-shadow: 10px 10px 5px rgb(176, 167, 167);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: rgba(0, 55, 255, 0.8);

  cursor: pointer;
  width: 250px;
}

.callus h1,
h5,
.chatus h1,
h5,
.visitus h1,
h5 {
  padding-bottom: 10px;
}
.callus h1,
.chatus h1,
.visitus h1 {
  color: rgb(255, 255, 0);
  margin: 20px 0 0 10px;

  width: auto;
}
.callus h5,
.chatus h5,
.visitus h5 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.callus:hover,
.chatus:hover,
.visitus:hover {
  transform: scale(1.01);
}

.callus img,
.chatus img,
.visitus img {
  display: -webkit-box;

  border-radius: 30px;
}
.callo,
.visito,
.chato {
  background-color: #5255ae;
  border-radius: 20px;
}
.clinic {
  width: 89%;
  margin-left: 110px;
  background-color: #ffffff;
  transform: perspective(75em);

  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 1px solid;
  height: 600px;
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}
.bordermid {
  border: 1px solid;
  height: 350px;
  width: 89%;
  margin-left: 110px;
  background-color: #e2eded;
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  width: 80%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(182, 182, 182, 0.7);
  box-shadow: 20px 20px 0 rgba(0, 55, 255, 0.8);
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 10px 0 0 50px;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}
.card .row .form-group-message {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;

}
.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
  margin: 5px 0 0 170px;
}
.card .row .form-group-message input,
.card .row .form-group-message textarea {
  position: absolute;
  width: 120%;
  height: 140%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #000cf8;
  border-radius: 50px;
  margin: 40px 0 0 -160px;
}
.card .row .form-group-message input:focus,
.card .row .form-group-message textarea:focus {
  border: 5px solid #0f3fed;
  transition: all 0.5s;
}
.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #000cf8;
  border-radius: 50px;
  margin: 50px 0 0 -150px;
}
.Map iframe {
  height: 350px;
  width: 100%;
  -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
  -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
  box-shadow: 10px 10px 5px rgb(176, 167, 167);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 10px;
}
/* .dctorcall{
  height:150px;
  width:89%;
  -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
  -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
  box-shadow: 10px 10px 5px rgb(176, 167, 167);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(106,109,191,1) 0%, rgba(44,102,217,1) 100%);

  margin-left: 110px;

} */

.row .col:nth-child(6) {
  margin-top: 64px;
}
::placeholder {
  color: #9393aa;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #0f3fed;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(72, 113, 189, 0.7);
  box-shadow: 10px 10px 0 rgba(47, 80, 141, 0.7);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #5d6cad;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
  margin-left: 170px;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgb(9, 28, 234);
  color: #1001ed;
  transition: all 0.4s;
}
.messagewtsp {
  width: 250px;
  height: 300px;
}

@media only screen and (max-width: 1024px) {
  .middlectc {
    background-color: rgb(255, 255, 255);
  }
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 15px 50px 40px 10px;
    transition: 0.5s;
  }
  .row {
    margin-bottom: -80px;
    /* margin-left: 100px; */
    margin-right: -80px;
  }
  .card {
    width: 90%;
    background-color: #ffffff;
    margin-left: -80px;
    margin-top: -50px;
    box-shadow: rgba(46, 46, 240, 0.4) 5px 5px, rgba(53, 46, 240, 0.3) 10px 10px,
      rgba(46, 59, 240, 0.2) 15px 15px, rgba(46, 75, 240, 0.1) 20px 20px,
      rgba(46, 69, 240, 0.05) 25px 25px;
    transform: perspective(750px) translate3d(0px, 0px, -250px) scale(0.9, 0.9);
    border-radius: 20px;
  }

  .card h2 {
    font-size: 20px;
    text-align: left;
    margin-left: -170px;
    width: 50px;
  }

  .row .form-group {
    margin-top: -65px;
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    margin-left: 70px;
  }
  .row .col input[type="submit"] {
    width: 85%;
    height: 70px;
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    margin: -40px 50px 40px 100px;
  }

  .row .form-group-message {
    margin: -40px 50px 40px 150px;

  }

 
  .card .row .form-group input {
    -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
    -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
    box-shadow: 10px 10px 5px rgb(176, 167, 167);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 35px;
    background-color: #ffffff;
    margin-right: 100px;
    margin-top: -20px;
  }

  /* .row input {
    margin: 130px 0 0 -190px;
  } */
  .row .form-group ::placeholder {
    font-size: 15px;
    text-align: left;
  }
  .card .row .form-group-message ::placeholder {
    font-size: 15px;
  }
  .rightnav {
    width: 100%;
    margin-top: -150px;
 
    transform: perspective(750px) translate3d(0px, 0px, -250px) scale(0.9, 0.9);
    border-radius: 20px;
 
  }
  .rightnav .chatus,
  .rightnav .callus,
  .rightnav .visitus {
    width: 125%;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 255, 0.4) 5px 5px, rgba(53, 46, 240, 0.3) 10px 10px,
    rgba(48, 55, 163, 0.2) 15px 15px, rgba(46, 75, 240, 0.1) 20px 20px,
    rgba(44, 55, 141, 0.05) 25px 25px;
  border-radius: 20px;
  }
  .rightnav .callus {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  /* .dctorcall{
  height:450px;
  width:80%;
  -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
  -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
  box-shadow: 10px 10px 5px rgb(176, 167, 167);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 10px;
  background:#ffffff;

  margin-left: 110px;
} */
  .clinic {
    width: 100%;
    margin-left: 0px;
    border-radius: 10px;
height: 760px;
-moz-box-shadow: 10px 10px 5px rgb(89, 142, 195);
-webkit-box-shadow: 10px 10px 5px rgb(94, 104, 163);
box-shadow: 1px 1px 5px rgb(191, 188, 188);



  }
  /* .Map iframe{
margin-top: 125px;
} */
  .bordermid {
    margin-top: 165px;
    width: 360px;
    margin-left: 160px;
  }
  .Map iframe {
    height: 500px;
    width: 100%;
    -moz-box-shadow: 10px 10px 5px rgb(80, 78, 78);
    -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
    box-shadow: 10px 10px 5px rgb(176, 167, 167);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 0px;
    margin-left: -0px;

  }
  .bordermid {
    width: 100%;
    margin-left: -0px;
    margin-top: 0px;
  }
}
