.footer-page {
  background-color: #516eff;
  position: relative;
  bottom: 0;
  width: 100%;
  color:white;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  
}

.footer-one{
  display: flex;
  align-items: center;
  margin-left: 40px;
  text-align: center;
  width: 20vh;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 70px;
  margin-top: 20px;
  height: 220px;
}

.office-des a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}
.office a:hover {
  color: #fff;
}
.num {
  font-size: 1rem;
  font-weight: 500;
}
.link-des .icomedia {
  width: 50px;
  height: auto;
  transition: 0.5s;
  border-radius: 50%;
  align-items: center;
}
.link-des .icomedia:hover {
  width: 60px;
  height: auto;
  transition: 0.5s;
}
.footer-two{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
}
.link-des ul {
  display: grid;
  grid-template:
    "a b" auto
    "c d" auto;
    padding: 0;
  }

.link-des a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-three{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 70px;
  margin-top: 20px;
  height: 220px;
}

.footer-four{
  display: flex;
  align-self: center;
  width: 400px;
  height: 220px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 70px;
  margin-top: 20px;
}
.footer-four iframe{
  border: #fff;
  border-radius: 16px;
}
.row-footer p{
  background-color: #216583;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .footer-main{
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

.footer-one, .footer-four, .footer-three h2{
  display: none;

}

.link-des .icomedia {
  width: 30px;
  height: auto;
  transition: 0.5s;
  align-items: center;
}
.link-des .icomedia:hover {
  width: 32px;
  height: auto;
  transition: 0.5s;
}

.footer-two{
  font-size:15px;

}

.footer-three{
  padding-top: 15px;
  border: none;
  font-size: 15px;
}


.Mapi iframe{
  width:400px;
  height:200px;
  -moz-box-shadow: 10px 10px 5px rgb(82, 74, 74);
  -webkit-box-shadow: 10px 10px 5px rgb(179, 179, 179);
  box-shadow: 10px 10px 5px #2a3a8d;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .footerpage {
    color: #fff;
    background-image: linear-gradient(
      90deg,
      #0d7c60 100%,
      #516EFF 0%
    );
    position: relative;
    width: 100%;
    height: auto;
      font-size: 0.8rem;
  }
  .office-row{
margin-top: -10px;
  }
  .logo-des{
    margin-top:-80px;
    width:100px;
    margin-left: 20%;
  }
.btn-know {
padding: 0px;
  }
  .link-des{
margin-top: -40px;
margin-left: -350px;
  
}
  .footer-header h2{
    margin-top:200px;
    margin-left: -300px;
    width:10px;
  }
  .footer-header .branchb{
    margin-left:-150px;
    margin-top: -45px;
    width:10px;
  }
  .Mapi iframe{
    margin-left:-250px;
    margin-top: 60px;
    width:130px;
    height: 100px;
  }
  .Mapi {
    margin-left:90px;
    margin-top: -90px;

  }
  
.link-des .icomedia{
  width:50px;
  margin:4px 0 0px 40px;
}
.link-des .icomedia:hover{
  width:50px;
  margin:4px 0 0px 40px;
}}
}